@charset "utf-8";
/* CSS Document 
 * author: @CleiverFossi
 * Version: 2
 * Modificado por :
 */


body{
	width:961px;
	font-size:16px;
	font-family: Helvetica, Arial;
	padding:0px;
	margin:0 auto;
	overflow:auto;
}
h1,h3{ 
	color:#000; 
	margin:0;
	text-align:center;
}
h2{ 
	color:#000; 
	text-decoration: underline blue;
	margin:0;
	text-align:center;
	margin-left: 5px;
}
h4{ 
	color:#000; 
	margin:0;
	text-align:left;
	margin-left: 100px;
	
}
p,td{
	margin:0;
	margin-right: 20px;
	margin-left: 20px;
	text-align:justify;
}
a{
	text-decoration:none;
	color:blue; 
}
a:hover{
	color:#4B0082;
}
table{
	background:#4B0082; 
	overflow:hidden;
	border-collapse:collapse; 
	-webkit-border-radius:12px;	-moz-border-radius:12px;border-radius:12px; /* css3 */
} 
table th{
	color:#FFF;
	text-align:center;
	padding:10px 10px;
	background-color:#00838F;
	height:40px;
}
table tr:nth-child(even) {/* css3 */ 	
 	
	background:#E0F7FA; 
}
table tr:nth-child(odd) {/* css3 */
	background: #B2EBF2;
}

#banner{
	background-color:#ccc;
	background-image:url();
	background-position:bottom center;
	width:100%;
	height:160px;
	overflow:hidden;
	-webkit-border-radius:12px;	-moz-border-radius:12px;border-radius:12px; /* css3 */
}
#banner .titulo{
	margin:50px 0;
	color:#006064;
	text-align:center;
	margin-right:200px;
	font-size:23px;
	font-weight:bold;
}
#banner .subtitulo{
	margin:20px 0;
	color:#006064;
	text-align:center;
	margin-right:200px;
	font-size:18px;
	font-weight:normal;
}

#todo{
	margin:auto;
	margin-top: 50px;
	width:1000px;
	height:160px;
	
}
#izquierda {
	margin-right: 20px;
	margin-bottom: 20px;
	float:left;
	border:1px solid black;
	width:230px;
	height:1700px;
	
}

#centro {
	margin-right: 20px;
	margin-bottom: 20px;
	float:left;
	border:1px solid black;
	width:480px;
	height:1700px;
	
}
#derecha {
	float:left;
	border:1px solid black;
	width:200px;
	height:1700px;
	
}
#mario{
	float: left;
	width: 160px;
	height: 170px;
}
#mario2{
	float: center;
	margin-top: 0px;
	width: 250px;
	height: 260px;
}
#luigi{
	float: none;
	width: 250px;
	height: 260px;
}
#princesa{
	margin-left: 20px;
	width: 200px;
	height: 250px;
}
#koopa{
	
	width: 250px;
	height: 260px;
}
#menuNav {
	margin:10px;
	margin-top: 20px;
	width:1px;
}



#contenido{
	border:2px solid #CCC;
	background-color:#FFF;
	margin:0 auto;
	width:96%;
	height:auto;
	padding:15px;
	-webkit-border-radius:12px;	-moz-border-radius:12px;border-radius:12px; /* css3 */
}
#pie{
	color:#FFF;
	background-color:#fff;
	margin:0 auto;
	margin-top:10px;
	width:100%;
	padding:20px 0;
	text-align:center;
	background-color:#e08282;
	-webkit-border-radius:12px;	-moz-border-radius:12px;border-radius:12px; /* css3 */
	background: -webkit-gradient(linear, left top, left bottom, from(white), to(#c00));background: -moz-linear-gradient(top, white, #c00); /* css3 */
}
#pie a{
	color:#FFF;
	text-decoration:none;
}
#footer{
	text-align: left;
}
.center{
	margin:0 auto;
}
.clear{
	width:1px;
	clear:both;
}
